/* Full page */
* {
  margin: 0px;
  padding: 0px;
}

/* Navigation bar */

.navigation_bar {
  box-shadow: 0px 2px 30px black;
}

/* Logo */
.logo {
  height: 100px;
}
.logo:hover {
  opacity: 60%;
  cursor: pointer;
}

/* Dropdown */
.dropdown_button {
  background-color: rgba(145, 145, 145, 0.253);
  border-radius: 30px;
  outline: none;
  border: none;
  padding: 10px;
  margin-top: 20px;
}
.dropdown_button:hover {
  opacity: 60%;
  cursor: pointer;
}

/* Search Bar */

.search_bar {
  display: none;
  border-radius: 40px;
  padding: 10px;
}
.search_button {
  display: none;
  background-color: white;
  padding-left: 10px;
  padding-right: 10px;
}

.beginSearch {
  display: inline-block;
  font-size: 40px;

  padding-top: 30px;
  padding-bottom: 30px;
}

.beginSearch:hover {
  opacity: 60%;
  cursor: pointer;
}
